	{% extends "estructura.html" %}

	{% block contenido %}

		<article>
				<h3>{{ entrada.titulo }}</h3></a>
			<time>{{ entrada.fecha }}</time>
			<p>{{ entrada.contenido }}</p>
		</article>

		{% if comentario %}
			<p>Comentarios:</p>
		{% endif %}
		<ul>
			{% for comentario in comentario %}
				<li>{{comentario.fechaCreacion}} - {{ comentario.autor }}</li>
			<ul>
				<li>{{ comentario.mensaje }}</li>
			</ul>
			{% endfor %}
		</ul>


		<form action="{% url 'blog.views.poncomentario' entrada.id %}" method="POST">
		{% csrf_token %}
		
		<p>Autor: {{ form.autor }}</p>
		<p>Mensaje: {{ form.mensaje }}</p>


		<input type="submit" value="Enviar">
		</form>

{% endblock %}